*{
  margin: 0;
  padding: 0;
}
body{
  background-color:rgb(236, 243, 241);
}
.myform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  width: 450px;
  height: 100%;
  padding: 20px;
 box-shadow: 3px 3px 8px 0px grey;
 border-radius: 10px;
  background-color: #FFFFFF;
  
}
.myform input{
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 350px;
  font-size: 19px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}
input:focus{
  outline: none;
}
h1{
  margin-bottom: 20px;
}
button{
  width: 370px;
  font-size: 19px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  background:linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}
#forgot{
  color: #463EEA;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}
span{
  color: #463EEA;
 cursor: pointer;
}
#signup{
  margin-top: 20px;
}